@import "bootstrap/dist/css/bootstrap.min.css";


body {
  background-color: #038319a8;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}

button {
  background-color: aqua;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 40px;
}

.carta {
  width: 120px;
  height: 180px;
  border: 2px solid #000;
  border-radius: 10px;
  position: relative;
  /* necesario para posicionar las esquinas */
  margin: 20px auto;
  background: #fff;
}

.centro {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.esquina {
  font-size: 18px;
  position: absolute;
}

.arriba-izq {
  top: 5px;
  left: 5px;
}

.abajo-der {
  bottom: 5px;
  right: 5px;
}